<div [hidden]="submitted" *ngIf="figure" class="figure-details">
    <form #updateFigure="ngForm" class="update-figure" (ngSubmit)="updateInfo(updateFigure.value)">
        <input type="submit" value="Update Info" />
        <label for="total">Update Total</label>
        <input type="text" id="total" name="total" ngModel={{figure.total}} />
        <label for="watch-list ">Watch-List?</label>
        <input type="text" id="watch-list" name="watchList" ngModel={{figure.watchList}} />
        <label for="notes">Notes</label>
        <textarea type="text" id="notes" name="notes" ngModel={{figure.notes}}></textarea>
        <input type="hidden" id name="id" ngModel={{figure.id}} />
        <input type="hidden" id="image-url" name="imageUrl" ngModel={{figure.imageUrl}} />
        <input type="hidden" id="name" name="name" ngModel={{figure.name}} />
        <input type="hidden" id="year" name="year" ngModel={{figure.year}} />
        <input type="hidden" id="team" name="team" ngModel={{figure.team}} />
        <input type="hidden" id="version" name="version" ngModel={{figure.version}} />
        <input type="hidden" id="variant" name="variant" ngModel={{figure.variant}} />
        <input type="hidden" id="variation" name="variation" ngModel={{figure.variation}} />
        <input type="hidden" id="ownIt" name="ownIt" ngModel={{figure.ownIt}} />
    </form>
</div>
