<app-nav-year></app-nav-year>
<div class="year-page">
    <h2>Figure List</h2>
    <ul class="year-list">
        <li *ngFor="let figure of figures | order_by: 'id'">
            <div class="figure-list" *ngIf="!getYear(figure)">
                <img routerLink="/detail/{{figure.id}}" src="{{figure.imageUrl}}" title="{{figure.name}} {{figure.version}}">
                <a class="figure-name" routerLink="/detail/{{figure.id}}">{{figure.name}}</a>
            </div>
        </li>
    </ul>
</div>
