<h2>Personalized Collection List</h2>
<ul class="figure-collection-list">
    <li *ngFor="let figure of figures  | order_by: 'id'">
        <div *ngIf="getCollection(figure)">
            <app-figure-listing [imageUrl]="figure.imageUrl" [name]="figure.name" [version]="figure.version" [year]="figure.year" [team]="figure.team" [variation]="figure.variation" [variant]="figure.variant" [watchList]="figure.watchList" [total]="figure.total"
                [notes]="figure.notes" [id]="figure.id"></app-figure-listing>
        </div>
    </li>
</ul>
