<nav class="navigation-bar">
    <ul>
        <li>
            <a routerLink="/home" [routerLinkActive]="['active']">Home</a>
        </li>
        <li>
            <a routerLink="/watch" [routerLinkActive]="['active']">Watch-List</a>
        </li>
        <li>
            <a routerLink="/collection" [routerLinkActive]="['active']">Collection</a>
        </li>
        <li>
            <a routerLink="/collection" [routerLinkActive]="['active']">Random Character Bio</a>
        </li>
    </ul>
</nav>
