<div class="figure-listing">
    <img class="figure-avatar" src={{imageUrl}} alt="Figure Picture" />
    <div class="details">
        <p class="figure-name">Name:</p>
        <p class="figure-year">Year:</p>
        <p class="figure-affiliation">Affiliation:</p>
        <p class="figure-variation">Variation:</p>
        <p class="figure-quantity">Number in Collection:</p>
        <p class="figure-watch">On Watch-List?</p>
        <p class="figure-notes ">Collection Notes:</p>
    </div>
    <div class="responses">
        <p class="figure-name">{{name}}</p>
        <p class="figure-year">{{year}}</p>
        <p class="figure-affiliation">{{team}}</p>
        <p class="figure-variation">{{variation}}</p>
        <p class="figure-quantity">{{total}}</p>
        <p class="figure-watch">{{watchList}}</p>
        <p class="figure-notes ">{{notes}}</p>
    </div>
</div>
