<div class="figure-listing">
    <img class="figure-avatar" src={{imageUrl}} alt="Figure Picture" />
    <div class="details">
        <p class="figure-name">Name: {{name}}</p>
        <p class="figure-year">Year: {{year}}</p>
        <p class="figure-affiliation">Affiliation: {{team}}</p>
        <p class="figure-variation">Variation: {{variation}}</p>
        <p class="figure-quantity">Number in Collection:{{total}}</p>
        <p class="figure-watch">On Watch-List? {{watchList}}</p>
        <p class="figure-notes ">Collection Notes: {{notes}}</p>

        <form class="update-figure">
            <input type="submit" value="Update Info" />
            <label for="total">Update Total</label>
            <input type="text" name="total" id="total" />

            <label for="watch-list">Change Watch-List Status</label>
            <input type="text" name="watch-list" id="watch-list" />

            <label for="notes">Notes</label>
            <textarea type="text" name="notes" id="notes"></textarea>
        </form>

        <p class="figure-id ">{{id}}</p>
    </div>
</div>
