<div class="figure-listing">
    <img class="figure-avatar" src={{imageUrl}} alt="Figure Picture" />
    <div class="details">
        <p class="figure-name">Name: {{name}}</p>
        <p class="figure-year">Year: {{year}}</p>
        <p class="figure-affiliation">Affiliation: {{team}}</p>
        <p class="figure-variation">Variation: {{variation}}</p>
        <p class="figure-quantity">Number in Collection:</p>
        <p class="figure-want">Add to Want-List?</p>
        <p class="figure-id">{{id}}</p>
    </div>
</div>
