<app-nav-year></app-nav-year>
<h2>Figure Details</h2>
<div *ngIf="figure" class="figure-details">
    <img class="figure-avatar" src={{figure.imageUrl}} alt="Figure Picture" />
    <div class="details">
        <p class="figure-name">Name: {{figure.name}}</p>
        <p class="figure-year">Year: {{figure.year}}</p>
        <p class="figure-affiliation">Affiliation: {{figure.team}}</p>
        <p class="figure-variation">Variation: {{figure.variation}}</p>
        <p class="figure-quantity">Number in Collection: {{figure.total}}</p>
        <p class="figure-watch">On Watch-List? {{figure.watchList}}</p>
        <p class="figure-notes ">Collection Notes: </p>
        <p>{{figure.notes}}</p>
    </div>
    <app-update-form></app-update-form>
</div>