<app-nav-year></app-nav-year>
<h2>Figure Details</h2>
<div *ngIf="figure" class="figure-details">
    <img class="figure-avatar" src={{figure.imageUrl}} alt="Figure Picture" />
    <div class="details">
        <p class="figure-name">Name:</p>
        <p class="figure-version">Version:</p>
        <p class="figure-year">Year:</p>
        <p class="figure-affiliation">Affiliation:</p>
        <p class="figure-variation">Arm-Type:</p>
        <p class="figure-variant">Variant Info:</p>
        <p class="figure-quantity">Number in Collection:</p>
        <p class="figure-watch">On Watch-List?</p>
        <p class="figure-notes ">Collection Notes:</p>
    </div>
    <div class="responses">
        <p class="figure-name">{{figure.name}}</p>
        <p class="figure-version">{{figure.version}}</p>
        <p class="figure-year">{{figure.year}}</p>
        <p class="figure-affiliation">{{figure.team}}</p>
        <p class="figure-variation">{{figure.variation}}</p>
        <p class="figure-variant">{{figure.variant}}</p>
        <p class="figure-quantity">{{figure.total}}</p>
        <p class="figure-watch">{{figure.watchList}}</p>
        <p class="figure-notes ">{{figure.notes}}</p>
    </div>
    <app-update-form></app-update-form>
</div>
