<h2>Figure Details</h2>
<div *ngIf="figure" class="figure-details">
    <img class="figure-avatar" src={{figure.imageUrl}} alt="Figure Picture" />
    <div class="details">
        <p class="figure-name">Name: {{figure.name}}</p>
        <p class="figure-year">Year: {{figure.year}}</p>
        <p class="figure-affiliation">Affiliation: {{figure.team}}</p>
        <p class="figure-variation">Variation: {{figure.variation}}</p>
        <p class="figure-quantity">Number in Collection:{{figure.total}}</p>
        <p class="figure-watch">On Watch-List? {{figure.watchList}}</p>
        <p class="figure-notes ">Collection Notes: {{figure.notes}}</p>
    </div>
    <form class="update-figure">
        <input type="submit" value="Update Info" />
        <label for="total">Update Total</label>
        <input type="text" name="total" id="total" />

        <label for="watch-list">Change Watch-List Status</label>
        <input type="text" name="watch-list" id="watch-list" />

        <label for="notes">Notes</label>
        <textarea type="text" name="notes" id="notes"></textarea>
        <input type="hidden" id="id" name="id" value={{figure.id}}>

    </form>



</div>
