<div id="home-page">
    <header class="hero-header">
        <h2>A Real American Hero!</h2>
        <img src="../../assets/joelogo.png" alt="Hero" />
    </header>
    <p>
        Start on this page by selecting from one of the years listed below to see a full listing of all figures issued within that time-frame.
    </p>
    <p></p>
    <p>
        <br>Use the links from the top Navigation Menu to launch your personalized Watch-List or check on a full listing of your saved Collection. If you are out on a Search and Recovery mission, check the Mission Preparation section to verify you have
        the right climate gear for your target city.
    </p>
    <app-nav-year></app-nav-year>
</div>