<div id="home-page">
    <header class="hero-header">
        <h2>A Real American Hero!</h2>
        <img src="../../assets/joelogo.png" alt="Hero" />
    </header>
    <p>
        Start on this page by selecting from one of the years listed below to see a full listing of all figures issued within that time-frame.
    </p>
    <p></p>
    <p>
        <br>Use the links from the top Navigation Menu to log in and jump to your personalized Want-List or to see a full listing of your saved Collection. You can also select the Random Character Bio to see a full detailed listing of a random GIJOE or
        Cobra character.
    </p>
    <app-nav-year></app-nav-year>
</div>
