<div id="home-page">
    <header class="hero-header">

        <h2>Welcome to the G.I.JOE Collection Tracking App!</h2>
        <img src="../../assets/joelogo.png" alt="Hero" />
    </header>
    <p>
        Start on this page by selecting a year to see a full listing of all figures issued within that year.
    </p>
    <p>
        Use the Navigation links above to log in and jump to your personalized Want-List or to see a full listing of your saved Collection. You can also select the Random Character Bio to see a full detailed listing of a random GIJOE or Cobra character.
    </p>
    <app-nav-year></app-nav-year>
</div>