.vehicle-details {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 250px 3.2fr 3fr 6fr 1fr;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 80px;
    .vehicle-avatar {
        grid-column: 1/ span 2;
        grid-row: 1 / span 1;
        margin-bottom: 5px;
        height: 300px;
    }
    .details {
        grid-column: 3 /span 1;
        grid-row: 1 / span 1;
        color: rgb(110, 110, 110);
    }
    .details p {
        padding: 4px;
    }
    .responses {
        grid-column: 4 /span 1;
        grid-row: 1 / span 1;
        text-shadow: 1px 1px 4px rgb(104, 103, 103);
    }
    .responses p {
        padding: 4px;
    }
    .update-vehicle {
        grid-column: 5 /span 1;
        grid-row: 1 / span 1;
    }
}
